.bag-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag-items {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
}

.bag-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 18%;

    margin-top: 1.5%;
    margin-left: 4%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.bag-item-container img {
    transform-origin: center top;
    transform: scale(1.75);
}

.bag-button {
    width: 50%;
}