.battle-page {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}
.battle-page {
    background: linear-gradient(-45deg, rgb(200, 0, 0), rgb(0, 200, 0), rgb(0, 0, 200), rgb(200, 200, 0));
    background-size: 400% 400%;
    animation: gradientChange 10s ease infinite;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.battle-container {
    width: 75%;
    height: 100%;
    background: linear-gradient(to bottom, black, rgb(61, 61, 61));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding-bottom: 2rem;
}
.bg-container {
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.bg {
    width: 75vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer-img {
    position: absolute;
    transform: scale(2);
    transform-origin: center bottom;
    right: 4%;
    top: 38%;
}

.your-field {
    width: 42%;
    height: 38.5%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.your-field img {
    transform-origin: center bottom;
    transform: scale(2.5);

    cursor: pointer;
}

.opp-field {
    width: 57%;
    height: 50%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.opp-field img {
    transform-origin: center bottom;
    transform: scale(2);

    cursor: pointer;
}

.move-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.move {
    width: 9rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 1rem;

    cursor: pointer;
}

.battle-party-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 5%;
}
.battle-party-container .icon-container {
    background-color: rgba(254, 254, 254, 0.5);
    width: 3.5rem;
    height: 3rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
}
.battle-party-container .icon-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.battle-party-container .icon-container:first-child {
    display: none;
}
.battle-party-container img {
    transform-origin: center center;
    transform: scale(2);
}

.battle-message-box {
    width: 75%;
    height: 10rem;

    border-radius: 1rem;

    background: white;

    overflow: auto;
    scroll-behavior: smooth;
}
.battle-text {
    color: black;
    text-align: start;
    margin-left: 2.5%;
    margin-top: 1%;
}


.hp-bar {
    position: absolute;
    top: 42%;

    width: 15rem;
    height: 1.2rem;

    border: 2px solid black;
    border-radius: 1rem;

    margin-left: .5rem;
}
.hp-bar .fill {
    height: 100%;

    border-radius: 1rem;

    transition: all .5s ease;
}
.hp-percent {
    position: absolute;
    left: 40%;
    top: -80%;
}
.your-hp-container h3 {
    position: absolute;
    top: 36%;

    margin-left: 0.5%;
}

.opp-hp-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 16rem;
    height: 6.8rem;

    position: absolute;
    right: 12.25%;
}

.opp-hp-container .hp-bar {
    /* position: absolute;
    top: 20%;
    right: 13%; */

    width: 15rem;
    height: 1.2rem;

    border: 2px solid black;
    border-radius: 1rem;

    margin: 0;
}
/* .opp-hp-container h3 {
    position: absolute;
    top: 14.5%;
    right: 24.9%;
} */


.attack-player {
    animation: attackPlayer 1000ms ease;
}
.attack-opp {
    animation: attackOpp 1000ms ease;
}
.faint {
    animation: faint 750ms ease;
}
.fainted {
    opacity: 0;
}

@keyframes faint {
    0% {
       position: relative;
       top: 0; 
    }

    100% {
        position: relative;
        top: 40%;
        opacity: 0;
    }
}

@keyframes attackPlayer {
    0% {
        position: relative;
        bottom: 0;
        left: 0;
    }

    50% {
        position: relative;
        bottom: 100%;
        left: 100%;
    }

    100% {
        position: relative;
        bottom: 0;
        left: 0;
    }
}
@keyframes attackOpp {
    0% {
        position: relative;
        top: 0;
        right: 0;
    }

    50% {
        position: relative;
        top: 75%;
        right: 75%;
    }

    100% {
        position: relative;
        top: 0;
        right: 0; 
    }
}


@keyframes gradientChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.party-catch-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.run-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.5rem;
    height: 2.5rem;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    border: 1px solid white;
    background: linear-gradient(to bottom, rgb(200, 0, 0), rgb(100, 0, 0));

    cursor: pointer;
}
.run-container:hover {
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(200, 0, 0));
}

.run-catch-container {
    display: flex;
    gap: 1rem;
    margin-right: 5%;
}

.pokeball {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.pokeball:hover {
    animation: pokeballSpin 375ms ease;
}

@keyframes pokeballSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
