.battle-page {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}
.battle-page {
    background: linear-gradient(-45deg, rgb(200, 0, 0), rgb(0, 200, 0), rgb(0, 0, 200), rgb(200, 200, 0));
    background-size: 400% 400%;
    animation: gradientChange 10s ease infinite;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.battle-container {
    width: 75%;
    height: 100%;
    background: linear-gradient(to bottom, black, rgb(61, 61, 61));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding-bottom: 2rem;
}
.bg-container {
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.bg {
    width: 75vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-field {
    width: 42%;
    height: 38.5%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.your-field img {
    transform-origin: center bottom;
    transform: scale(2.5);

    cursor: pointer;
}

.opp-field {
    width: 57%;
    height: 50%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.opp-field img {
    transform-origin: center bottom;
    transform: scale(2);

    cursor: pointer;
}

.move-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.move {
    width: 9rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 1rem;

    cursor: pointer;
}
.grass {
    background: linear-gradient(to bottom, rgb(98,188,90), rgb(48, 138, 40));
}
.grass:hover {
    background: rgb(148,238,140);
}
.water {
    background: linear-gradient(to bottom, rgb(80,144,213), rgb(30, 94, 163));  
}
.water:hover {
    background: rgb(130,194,263);
}
.fire {
    background: linear-gradient(to bottom, rgb(255,157,85), rgb(205, 107, 35));  
}
.fire:hover {
    background: rgb(255,207,135);
}
.poison {
    background: linear-gradient(to bottom, rgb(170,108,200), rgb(120, 58, 150));  
}
.poison:hover {
    background: rgb(220,158,250);
}
.rock {
    background: linear-gradient(to bottom, rgb(198,183,140), rgb(148, 133, 90));  
}
.rock:hover {
    background: rgb(248, 233, 190);
}
.ground {
    background: linear-gradient(to bottom, rgb(217,121,69), rgb(167,71,19));  
}
.ground:hover {
    background: rgb(255, 171, 119);
}
.fairy {
    background: linear-gradient(to bottom, rgb(236,142,230), rgb(186,92,180));  
}
.fairy:hover {
    background: rgb(255, 192, 255);
}
.steel {
    background: linear-gradient(to bottom, rgb(91,143,162), rgb(41,93,112));  
}
.steel:hover {
    background: rgb(141,193,212);
}
.electric {
    background: linear-gradient(to bottom, rgb(244,210,59), rgb(194,160,9));  
}
.electric:hover {
    background: rgb(255,255,59);
}
.normal {
    background: linear-gradient(to bottom, rgb(146,157,162), rgb(96,107,112));  
}
.normal:hover {
    background: rgb(196, 207, 212);
}


.battle-party-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 5%;
}
.battle-party-container .icon-container {
    background-color: rgba(254, 254, 254, 0.5);
    width: 3.5rem;
    height: 3rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
}
.battle-party-container .icon-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.battle-party-container .icon-container:first-child {
    display: none;
}
.battle-party-container img {
    transform-origin: center center;
    transform: scale(2);
}

.battle-message-box {
    width: 75%;
    height: 10rem;

    border-radius: 1rem;

    background: white;
}

.hp-bar {
    position: absolute;
    top: 42%;

    width: 15rem;
    height: 1.2rem;

    border: 2px solid black;
    border-radius: 1rem;

    margin-left: .5rem;
}
.hp-bar .fill {
    height: 100%;

    border-radius: 1rem;

    transition: all .5s ease;
}
.hp-percent {
    position: absolute;
    left: 40%;
    top: -80%;
}
.your-hp-container h3 {
    position: absolute;
    top: 36%;

    margin-left: 0.5%;
}

.opp-hp-container .hp-bar {
    position: absolute;
    top: 20%;
    right: 13%;

    width: 15rem;
    height: 1.2rem;

    border: 2px solid black;
    border-radius: 1rem;
}
.opp-hp-container h3 {
    position: absolute;
    top: 14.5%;
    right: 24.9%;

    /* margin-right: 5.7%; */
}


.attack-player {
    animation: attackPlayer 1000ms ease;
}
.attack-opp {
    animation: attackOpp 1000ms ease;
}
.faint {
    animation: faint 750ms ease;
}
.fainted {
    opacity: 0;
}

@keyframes faint {
    0% {
       position: relative;
       top: 0; 
    }

    100% {
        position: relative;
        top: 40%;
        opacity: 0;
    }
}

@keyframes attackPlayer {
    0% {
        position: relative;
        bottom: 0;
        left: 0;
    }

    50% {
        position: relative;
        bottom: 100%;
        left: 100%;
    }

    100% {
        position: relative;
        bottom: 0;
        left: 0;
    }
}
@keyframes attackOpp {
    0% {
        position: relative;
        top: 0;
        right: 0;
    }

    50% {
        position: relative;
        top: 75%;
        right: 75%;
    }

    100% {
        position: relative;
        top: 0;
        right: 0; 
    }
}


@keyframes gradientChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.party-catch-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.run-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.5rem;
    height: 2.5rem;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    border: 1px solid white;
    background: linear-gradient(to bottom, rgb(200, 0, 0), rgb(100, 0, 0));

    cursor: pointer;
}
.run-container:hover {
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(200, 0, 0));
}

.run-catch-container {
    display: flex;
    gap: 1rem;
    margin-right: 5%;
}

.pokeball {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.pokeball:hover {
    animation: pokeballSpin 375ms ease;
}

@keyframes pokeballSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
