.battle-page {
    position: fixed;

    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}
.battle-page {
    background: linear-gradient(-45deg, rgb(200, 0, 0), rgb(0, 200, 0), rgb(0, 0, 200), rgb(200, 200, 0));
    background-size: 400% 400%;
    animation: gradientChange 10s ease infinite;
}

.battle-container {
    width: 75%;
    height: 100vh;
    background: linear-gradient(to bottom, black, rgb(61, 61, 61));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.bg-container {
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.bg {
    width: 75vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-field {
    width: 42%;
    height: 38.5%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.your-field img {
    transform-origin: center bottom;
    transform: scale(2.5);

    cursor: pointer;
}

.opp-field {
    width: 57%;
    height: 50%;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.opp-field img {
    transform-origin: center bottom;
    transform: scale(2);

    cursor: pointer;
}

.move-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.move {
    width: 9rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 1rem;

    cursor: pointer;
}
.grass {
    background: linear-gradient(to bottom, rgb(98,188,90), rgb(48, 138, 40));
}
.water {
    background: linear-gradient(to bottom, rgb(80,144,213), rgb(30, 94, 163));  
}
.fire {
    background: linear-gradient(to bottom, rgb(255,157,85), rgb(205, 107, 35));  
}
.poison {
    background: linear-gradient(to bottom, rgb(170,108,200), rgb(120, 58, 150));  
}


.battle-party-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.battle-party-container .icon-container {
    background-color: rgba(254, 254, 254, 0.5);
    width: 3.5rem;
    height: 3rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
}
.battle-party-container .icon-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.battle-party-container .icon-container:first-child {
    display: none;
}
.battle-party-container img {
    transform-origin: center center;
    transform: scale(2);
}







@keyframes gradientChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
