.pkmn-party-footer {
    width: 100vw;
    height: 4rem;
    background: linear-gradient(to bottom, black, rgb(58, 58, 58));

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0; 
}
.pkmn-party-footer .pkmn-party {
    display: flex;
    gap: 1.5rem;
    margin-left: 1rem;
}
.pkmn-party-footer .icon-container {
    background-color: rgba(254, 254, 254, 0.5);
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.pkmn-party-footer .icon-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.pkmn-party-footer img {
    transform-origin: center center;
    transform: scale(2);

    position: relative;
    bottom: 6px;
}
.footer-buttons {
    display: flex;
    gap: 1.5rem;

    margin-right: 1rem;
}
.footer-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to bottom,#4ca363,#276136);
    color: white;

    font-size: 1.3rem;

    width: 3rem;
    height: 3rem;

    border: 1px solid white;
    border-radius: .5rem;

    cursor: pointer;
}
.footer-buttons div:hover {
    background: linear-gradient(to bottom,#74e291,#61d780);
}

@media (max-width: 768px) {
    .pkmn-party-footer .pkmn-party {
        display: flex;
        padding-left: 1.25rem;
    }
    
    .pkmn-party-footer .icon-container {
        background-color: rgba(254, 254, 254, 0.5);
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
    }

    .pkmn-party-footer img {
        transform-origin: center center;
        transform: scale(1.5);
    
        position: relative;
        bottom: 6px;
    }

    .footer-buttons {
        display: none;
    }
}